h1 {
	text-align: center;
	font-family: Courier;
}
img {
	float: left;
}
label {
	display: inline-block;
	width: 30px;
	font-size: 1.5em;
	font-family: Courier New;
	font-style: italic;
}
.form_container {
	float: right;
	width: 400px;
	height: auto;
	margin: 20px 450px 0 0;
	box-sizing: border-box;
}
input[type="number"] {
	width: 350px;
	height: 35px;
	box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    border-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;  
}
input[type="number"]:focus {
	box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
input[type="submit"] {
	width: 130px;
	height: 50px;
	border: 3px solid rgb(128, 128, 255);
	text-align: center;
	font-weight: bold;
	color: rgb(128, 128, 255);
	border-radius: 20px;
	background: none;
	font-size: 1.2em;
	float: left;
	margin-left: 35px;
}
input[type="button"] {
	width: 120px;
	height: 50px;
	border: 3px solid rgb(234, 19, 27);
	text-align: center;
	font-weight: bold;
	color: rgb(234, 19, 27);
	border-radius: 20px;
	background: none;
	font-size: 1.2em;
	float: right;
	margin-right: 35px;
}
input[type="submit"]:hover, input[type="button"]:hover {
	cursor: pointer;
}
@media screen and (max-width: 1150px) {
	.form_container {
		margin-right: 250px;
	}
	
}